@import 'forms';

$links_color: #EC3C00;

$blue: #049cdb;
$green: #46a546;	
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;	
$pink: #c3325f;
$purple: #7a43b6;

a{
	color: #4096EE;
	text-decoration: none;
	
	&:hover{
		color: $links_color;
	}
}

.single-by-line{
	clear: both;
	text-align: center;
}

.diff{
	overflow:auto;
	
	ul{
		background: #fff;
		overflow: auto;
		font-size: 13px;
		list-style: none;
		margin: 0;
		padding: 0;
		display: table;
		width: 100%;
	}
	
	del, ins{
		display: block;
		text-decoration: none;
	}
	
	del, ins, span{
		white-space: pre-wrap;
		font-family: courier;
	}
	
	del strong{
		font-weight: normal;
		background: #fcc;
	}
	
	ins strong{
		font-weight:normal;
		background:#9f9;
	}
	
	li{
		padding: 0; 
		display:table-row;
		margin: 0;
		height: 1em;
		
		&.ins{
			background: #dfd; 
			color: #080
		}
		
		&.del{
			background: #fee; 
			color: #b00
		}
		
		&:hover{
			background: #ffc
		}
		
		&.diff-comment{ 
			display: none; 
		}
		
		&.diff-block-info{ 
			background: none repeat scroll 0 0 gray; 
		}
	}
}